
h1{
    font-size: calc(var(--titulo)/2);
}
h2{
    font-size: calc(var(--titulo2)/2);
}
h3{
    font-size: calc(var(--subtitulo)/2);
}
main{
    gap: 200px;
    display: grid;
    padding: 11.8rem 0;
    align-items: center;
    grid-template-rows: repeat(2,1fr);
}
.saludo-about{
    gap: 70px;
    flex-direction: column;
}
.saludo{
    grid-row: 1;
}
.about-me > p{
    width: 300px;
    text-align: center;
}
.saludo > h1, .about-me > p{
    color: var(--background);
}

.menu > ul{
    gap: 3.75rem;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-start;
}
.menu > ul > li > a > h1{
    color: var(--background);
}

.divider-title{
    gap: 2rem;
    align-items: center;
    overflow: hidden;
    background-color: var(--background);
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.divider-title > h1{
    position: relative;
    animation: slide 10s linear infinite;
}
    .circle{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--btn);
    }

.projects{
    flex-direction: column;
    padding: var(--padding);
    background: hsla(138, 20%, 38%, 1);
    background: linear-gradient(90deg, hsla(138, 20%, 38%, 1) 0%, hsla(152, 65%, 53%, 1) 26%, hsla(152, 77%, 56%, 1) 43%, hsla(117, 54%, 72%, 1) 76%, hsla(144, 69%, 63%, 1) 93%);
}
    .imagen-proyecto, .imagen-proyecto img{
        width: 100%;
        height: auto;
        max-width: 504.57px;
    }
    .imagen {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    }

    .imagen.imagen-open {
    opacity: 1;
    }
    .capitalis-group, .hcs-marketing, .lya-yoga{
        gap: 17px;
        width: 100%;
        padding: 30px 0;
        flex-direction: column;
        border-bottom: solid 2px;
    }    
    .title-boton{
        width: 100%;
        align-items: center;
    }
    .title{
        width: 100%;
    }
        .mas-text{
            display: inline-block;
            transition: transform 0.3s ease;
            font-size: var(--titulo2);
        }
            .mas-text.rotar {
                transform: rotate(45deg);
            }

    .pharagraph{
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease-in-out;
    }
    .pharagraph a{
        display: block;
        color: var(--font);
        padding-top: .5rem;
    }
    .pharagraph.pharagraph-open {
        display: block;
        max-height: 500px; /* lo suficiente para que quepa el contenido */
        opacity: 1;
    }

    .divider{
        height: 1px;
        background-color: var(--font);
    }

.keywords{
    background-color: var(--background-b);
}
.contact{
    gap: 60px;
    padding: 167px 34px 70px;
    flex-direction: column;
    background: hsla(38, 24%, 75%, 1);

    background: linear-gradient(360deg, hsla(38, 24%, 75%, 1) 12%, hsla(37, 9%, 63%, 1) 36%, hsla(37, 9%, 63%, 1) 36%, hsla(220, 3%, 36%, 1) 68%, hsla(218, 17%, 23%, 1) 92%);
}
    .title-contact, .btn-contact p{
        color: var(--thirty);
        text-align: center;
    }
    .btn-contact{
        width: 100%;
        max-width: 220px;
        padding: 11px 34px;
        border-radius: 35px;
        color: var(--thirty);
        background-color: transparent;
        border: solid 5px var(--thirty);
    }
    .pharagraph-contact p{
        text-align: center;
    }
